<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1> 
</div>   
 <hr/>
 <!-- [routerLink]  es una directiva de atributos. Permite la configuración  a los diferentes rutas y permite la navegación -->
 <nav>
   <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">Home</a> - 
   <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Frutas</a> -
   <a [routerLink]= "['/empleado']" [routerLinkActive]="['activado']">Empleado</a> -
   <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a> -
   <a [routerLink]="['/coche']" [routerLinkActive]="['activado']">Coche</a> -
   <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>
  

 </nav>
 <hr/>


<!-- <app-fruta></app-fruta> -->
<!-- <app-empleados></app-empleados> -->

<router-outlet></router-outlet> <!-- Con este tag se carga el path correspondiente al router-->







